DEBUG=true
DATABASE_URL=postgresql://<postgres_username>:<postgres_password>@<host>:<port>/<db_name>
SECRET_KEY=7pgozr2jn7zs_o%i8id6rddie!*0f0qy3$8231i^4*@u3
JWT_SECRET_KEY=7pgozr2jn7zs_o%i8id6rddie!*0f0qy3$8231i^4*@u3-keep-this-super-secret
JWT_EXPIRATION_SECONDS=36000